*{
    margin: 0px;
    padding: 0px;
}
.banner h1{
    color: rgb(153, 231, 237);
    text-align: center;
}
.banner p{
    color: rgb(241, 178, 216);
    text-align: center;
    font-size: 27px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
body{
    background: linear-gradient(rgb(130, 167, 161) , rgb(166, 221, 213) , rgb(201, 255, 251));
    
}
.art{
        border-radius: 200px;
}
